In [13]:
import pandas as pd
import numpy as np

# Adult

In [14]:
Y = np.load("D:\Study\自学\表格数据生成/v11\Dataset/adult\Y_train.npy", allow_pickle=True)
X_num = np.load("D:\Study\自学\表格数据生成/v11\Dataset/adult\X_num_train.npy", allow_pickle=True).astype(np.float32)
X_cat = np.load("D:\Study\自学\表格数据生成/v11\Dataset/adult\X_cat_train.npy", allow_pickle=True).astype(str)

In [8]:
print(Y.shape)
print(X_num.shape)
print(X_cat.shape)

(26048,)
(26048, 6)
(26048, 8)

In [9]:
X_num_columns = [
    "age",
    "fnlwgt",
    "education_num",
    "capital-gain",
    "capital-loss",
    "hours-per-week",
]
X_cat_columns = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]
y_column = [
    "salary",
]

x_df = pd.DataFrame(np.concatenate((X_num, X_cat), axis=1), columns=X_num_columns + X_cat_columns)
y_df = pd.DataFrame(Y, columns=y_column)
merged_df = pd.concat([x_df, y_df], axis=1)

In [11]:
merged_df

,age,fnlwgt,education_num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,32.0,228265.0,9.0,0.0,0.0,30.0,Private,HS-grad,Never-married,Handlers-cleaners,Own-child,White,Female,United-States,0
1,21.0,89154.0,7.0,0.0,0.0,42.0,Private,11th,Never-married,Other-service,Own-child,White,Male,El-Salvador,0
2,33.0,43716.0,10.0,0.0,0.0,4.0,State-gov,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,0
3,43.0,81243.0,13.0,0.0,1876.0,40.0,Private,Bachelors,Divorced,Tech-support,Not-in-family,White,Male,United-States,0
4,50.0,155574.0,14.0,7298.0,0.0,50.0,Self-emp-inc,Masters,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26043,18.0,98667.0,7.0,0.0,0.0,16.0,Private,11th,Never-married,Other-service,Own-child,White,Female,United-States,0
26044,26.0,170786.0,10.0,0.0,0.0,40.0,Private,Some-college,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,0
26045,49.0,75673.0,9.0,0.0,0.0,40.0,Private,HS-grad,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,United-States,0
26046,48.0,95661.0,10.0,0.0,0.0,43.0,Private,Some-college,Never-married,Adm-clerical,Not-in-family,White,Female,United-States,0
26047,39.0,126494.0,9.0,0.0,0.0,40.0,Private,HS-grad,Divorced,Prof-specialty,Unmarried,White,Female,United-States,0

In [12]:
print(merged_df['salary'].value_counts())

salary
0    19775
1     6273
Name: count, dtype: int64

In [16]:
Y = np.load("D:\Study\自学\表格数据生成/v11\Dataset/adult\Y_test.npy", allow_pickle=True)
X_num = np.load("D:\Study\自学\表格数据生成/v11\Dataset/adult\X_num_test.npy", allow_pickle=True).astype(np.float32)
X_cat = np.load("D:\Study\自学\表格数据生成/v11\Dataset/adult\X_cat_test.npy", allow_pickle=True).astype(str)

x_df = pd.DataFrame(np.concatenate((X_num, X_cat), axis=1), columns=X_num_columns + X_cat_columns)
y_df = pd.DataFrame(Y, columns=y_column)
merged_df = pd.concat([x_df, y_df], axis=1)

print(Y.shape)
print(merged_df['salary'].value_counts())

(16281,)
salary
0    12435
1     3846
Name: count, dtype: int64

# Shopper

In [20]:
Y = np.load("D:\Study\自学\表格数据生成/v11\Dataset\shopper\Y_train.npy", allow_pickle=True)
X_num = np.load("D:\Study\自学\表格数据生成/v11\Dataset\shopper\X_num_train.npy", allow_pickle=True).astype(np.float32)
X_cat = np.load("D:\Study\自学\表格数据生成/v11\Dataset\shopper\X_cat_train.npy", allow_pickle=True).astype(str)

print(Y.shape)
print(X_num.shape)
print(X_cat.shape)

(9247, 1)
(9247, 10)
(9247, 7)

In [21]:
X_num_columns = [
    "Administrative",
    "Administrative_Duration",
    "Informational",
    "Informational_Duration",
    "ProductRelated",
    "ProductRelated_Duration",
    "BounceRates",
    "ExitRates",
    "PageValues",
    "SpecialDay",
]
X_cat_columns = [
    "Month",
    "OperatingSystems",
    "Browser",
    "Region",
    "TrafficType",
    "VisitorType",
    "Weekend",
]
y_column = [
    "Revenue",
]

x_df = pd.DataFrame(np.concatenate((X_num, X_cat), axis=1), columns=X_num_columns + X_cat_columns)
y_df = pd.DataFrame(Y, columns=y_column)
merged_df = pd.concat([x_df, y_df], axis=1)

In [22]:
print(merged_df['Revenue'].value_counts())

Revenue
False    7839
True     1408
Name: count, dtype: int64

In [23]:
7839/1408

5.567471590909091

# Magic

In [26]:
Y = np.load("D:\Study\自学\表格数据生成/v11\Dataset\magic\Y_train.npy", allow_pickle=True)
X_num = np.load("D:\Study\自学\表格数据生成/v11\Dataset\magic\X_num_train.npy", allow_pickle=True).astype(np.float32)

print(Y.shape)
print(X_num.shape)

(13313, 1)
(13313, 10)

In [27]:
X_num_columns = [
    "Length",
    "Width",
    "Size",
    "Conc",
    "Conc1",
    "Asym",
    "M3Long",
    "M3Trans",
    "Alpha",
    "Dist",
]
X_cat_columns = []
y_column = [
    "class",
]

merged_df = pd.DataFrame(np.concatenate((X_num, Y), axis=1), columns=X_num_columns + y_column)

In [29]:
merged_df

,Length,Width,Size,Conc,Conc1,Asym,M3Long,M3Trans,Alpha,Dist,class
0,102.260002,68.781403,3.5194,0.1303,0.0664,-70.855698,-64.139198,-26.8501,32.629902,345.221985,h
1,66.467201,35.612,3.2838,0.2102,0.1178,-53.384701,50.301201,33.2397,0.106,276.743988,g
2,39.028099,9.4129,2.7336,0.4044,0.2151,32.9133,20.8016,7.7568,31.528,160.542007,h
3,49.296799,32.029701,2.8754,0.3112,0.184,52.569401,31.369101,23.8645,33.848598,230.302094,h
4,59.992802,34.836498,3.3439,0.1884,0.1017,-58.9375,44.3144,15.1518,5.726,282.141998,g
...,...,...,...,...,...,...,...,...,...,...,...
13308,54.170799,9.4098,2.5176,0.5001,0.2612,-44.880199,-39.104698,8.5896,35.852402,120.0867,h
13309,90.699203,23.635,3.3862,0.1755,0.0881,52.393398,84.532898,15.0062,7.369,326.834991,g
13310,26.0249,8.2571,2.5075,0.6816,0.4343,15.3165,7.8907,-8.9325,57.573299,89.194801,h
13311,29.682301,21.948799,2.6147,0.5073,0.335,-13.8653,-23.232401,-14.0536,88.586998,145.951797,h
13312,31.177299,20.139099,2.8666,0.2842,0.1638,-0.3975,17.271601,6.4543,7.611,131.335007,g

In [30]:
print(merged_df['class'].value_counts())

class
g    8636
h    4677
Name: count, dtype: int64

In [31]:
8636/4677

1.8464827881120376

# Churn

In [32]:
Y = np.load("D:\Study\自学\表格数据生成/v11\Dataset/churn\Y_train.npy", allow_pickle=True)
X_num = np.load("D:\Study\自学\表格数据生成/v11\Dataset/churn\X_num_train.npy", allow_pickle=True).astype(np.float32)
X_cat = np.load("D:\Study\自学\表格数据生成/v11\Dataset/churn\X_cat_train.npy", allow_pickle=True).astype(str)

print(Y.shape)
print(X_num.shape)
print(X_cat.shape)

(7000, 1)
(7000, 5)
(7000, 5)

In [33]:
X_num_columns = [
    "CreditScore",
    "Age",
    "Tenure",
    "Balance",
    "EstimatedSalary",
]
X_cat_columns = [
    "Geography",
    "Gender",
    "NumOfProducts",
    "HasCrCard",
    "IsActiveMember",
]
y_column = [
    "Exited",
]

x_df = pd.DataFrame(np.concatenate((X_num, X_cat), axis=1), columns=X_num_columns + X_cat_columns)
y_df = pd.DataFrame(Y, columns=y_column)
merged_df = pd.concat([x_df, y_df], axis=1)

In [34]:
merged_df

,CreditScore,Age,Tenure,Balance,EstimatedSalary,Geography,Gender,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,615.0,32.0,4.0,0.0,6225.63,France,Male,2,1,1,0
1,710.0,33.0,2.0,0.0,72945.32,France,Female,2,1,0,0
2,650.0,42.0,4.0,194532.66,171045.31,Spain,Male,1,1,0,1
3,625.0,35.0,5.0,86147.46,163440.8,Germany,Female,2,1,0,1
4,850.0,38.0,5.0,146756.69,78268.61,Germany,Male,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6995,696.0,40.0,3.0,153639.11,138351.69,Spain,Male,1,1,1,0
6996,716.0,39.0,10.0,115301.31,43527.4,Germany,Female,1,1,0,1
6997,692.0,36.0,4.0,0.0,185580.89,France,Female,1,1,0,1
6998,472.0,37.0,1.0,0.0,48357.9,France,Female,2,1,1,0
6999,547.0,25.0,4.0,98141.57,52309.8,Germany,Male,2,1,1,0

In [35]:
print(merged_df['Exited'].value_counts())

Exited
0    5577
1    1423
Name: count, dtype: int64

In [36]:
5577/1423

3.9191848208011244